.custom-login .bg-login {
    right: 70%;
    left: 0;
}
.custom-login .custom-wrapper .card .card-body {
    margin-right: auto;
    margin-left:0;
}

.custom-login .navbar .nav-item .nav-link::after {
    right: auto;
    left: 0;
}
.custom-login .card {
    margin-right: auto;
    margin-left: 0;
}
.custom-login .dash-header .dash-h-dropdown.dropdown-menu-end {
    left: 0 !important;
    right: auto !important;
}
@media only screen and (max-width: 767px){
    .custom-login .navbar .navbar-collapse .navbar-nav{
        padding-right: 0;
    }
}


@media only screen and (max-width: 1199px){
    .custom-login .custom-wrapper .card .card-body {
        margin: auto;
    }
    .custom-login .card {
        margin: auto;
        width: auto;
    }
}
